<!DOCTYPE html>

<html>
<head>
	<title>My-Linh-Beauté</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="style/style.css">
	<link rel="stylesheet" type="text/css" href="style/slide.css">
	<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

</head>
<body>
	<div class="container1">
		<header>
			
			<h1 class="logo">My Linh BEAUTY</h1>

		
			<div class="menunavigation">
				<li><a href="accueil.html">Accueil</a></li>
				<li><a href="service.html">Service</a></li>
				<li><a href="tarif.html">Tarif</a></li>
				<li><a href="contact.html">Contact</a></li>
			</div>
		

		</header>

		<%= yield %>
			





<div class="baspage">
<footer>
	<p>Copyright Man Banh Duc</p>

</footer>
</div>

</body>

</html>